/* ANIMATIONS */
/* Used for name of menu items */
@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* animation for whenever web page opens up */
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animation specifically for opening of quick nav */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Lilita One";
  background-color: #004851;
  overflow: hidden;
}
.hidden {
  display: none;
}

/* Class that manages all the loading animation */
.load {
  animation: slideInDown 1s ease-in-out forwards;
}

.container {
  text-align: center;
}
.a {
  text-decoration: none;
  background-color: none;
}
/* THIS IS FOR THE BACKGROUND OF THE SECTIONS MENU THROUGH ABOUT US */
.background-image {
  background-image: url("./components/images/background2.0.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

/* THIS IS THE TOP HEADER ONLY */
/* .top-banner-section {
} */
.top-banner {
  font-size: calc(0.4vw + 1em);
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  color: #efebcf;
  margin-top: 0.5rem;
  background-color: #004851;
  border-top: 0.5rem #efebcf solid;
  border-bottom: 0.5rem #efebcf solid;
  border: 0.5rem #efebcf solid;
  text-transform: uppercase;
}

.top-banner-img-container {
  position: relative;
  /* display: inline-block; */
}

.top-banner-img {
  width: 3rem;
  height: auto;
  margin-top: 0.5rem;
}

/* CSS STYLINF FOR THE LETTERS OVER THE MAIN BANENR IMAGE  */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5rem;
  color: #224344;
  padding: 1rem;
  width: 100vw;
  height: auto;
  text-align: center;
}

/* STLYING FOR THE QUICK-NAV BAR */
.quick-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 5rem;
  width: 100vw;
  color: #efebcf;
  background-color: #004851;
  z-index: 100000;
  animation: slideDown 0.5s ease-in-out both;
}
.quick-nav-text {
  font-family: "Lilita One";
  font-weight: 500;
  font-size: calc(0.2vw + 1em);
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding-bottom: 0.4rem;
  color: #efebcf;
  text-decoration: underline;
}
.quick-nav-text:hover {
  color: #497f81;
}
#about-us-section {
  text-decoration: none;
}

.quick-nav-text::after {
  text-decoration: none;
}
.mobile-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004851;
}
.nav-button {
  color: #efebcf;
  width: 100%;
  cursor: pointer;
  background-color: #004851;
}
.nav-button:hover {
  background-color: #004851;
}

/* THE IMAGE RIGHT UNDER THE TOP HEADER */
.top-banner-img {
  height: 50vw;
  width: auto;
}

/* This best sellers section is styling for an unused section, I decided
not to erase it because I feel like in the future the ode and styling could 
come in handy */

/* Specific styling for the Best sellers subheading */
.best-sellers-subheading {
  font-size: calc(5vw + 1em);
  font-family: "Lilita One";
  font-weight: 900;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.5rem;
  color: #efebcf;
  background-color: #67b0b3;
  border-top: 0.5rem #efebcf solid;
  border-bottom: 0.5rem #efebcf solid;
  z-index: 5000;
}

#best-seller-section {
  animation: slideInDown 1s ease-in-out forwards;
  z-index: 100;
}
.best-seller-section {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 4vw;
  padding: 1rem;
}

.best-seller-card {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

/* THIS IS THE STYLING FOR EACH IMAGE AND THE OVERLAYING TEXT */
.best-sellers-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  position: relative;
}
/* THIS IS THE STYLING FOR THE ACTUAL IMAGES WITHIN THE GROUP */
.best-seller-img {
  height: auto;
  width: 20vw;
  border-radius: 1rem;
  border: 0.4rem #67b0b3 solid;
}

.best-seller-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Styling for name of best selling items */
.best-sellers-item-name {
  font-size: calc(1vw + 1em);
  font-family: "Lilita One";
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  color: #efebcf;
  background-color: rgba(103, 176, 179, 0.3);
  text-align: center;

  border-top: 0.3rem #67b0b3 solid;
  border-bottom: 0.3rem #67b0b3 solid;
  border: 0.3rem #67b0b3 solid;
}
/* Styling for teh description of best selling items */
.best-sellers-item-description {
  font-size: calc(0.05vw + 1em);
  font-family: "Lilita One";
  font-weight: 500;
  color: #224344;
}
/* Styling for the price of the best selling items */
.best-sellers-item-price {
  color: #224344;
  font-size: calc(0.5vw + 1em);
}
/* Sets the style for how the data under the menu subheading should look */
.choose-location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
}

/* STYLING FOR MENU ITEM TYPES */

.menu-heading {
  font-size: calc(5vw + 1em);
  font-family: "Lilita One";
  text-align: center;
  vertical-align: center;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
  color: #efebcf;
  background-color: #004851;
  border-top: 0.5rem #efebcf solid;
  border-bottom: 0.5rem #efebcf solid;
  border: 0.5rem #efebcf solid;
}
/* STYLING FOR THE GROUP OF WORDS DESCRIBING MENU ITEM TYPES */
.menu-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 1.5vw;
  cursor: pointer;
}

.menu-item-type {
  font-size: calc(0.5vw + 1em);
  font-weight: 500;
  color: #cf4929;
  text-decoration: underline;
}

.menu-item-type:hover {
  color: #99371e;
  text-shadow: 0 0 19px #cf4929;
}

.menu-sparkman {
  text-align: center;
}
.menu-item-name {
  font-size: calc(2vw + 1em);
  color: #cf4929;
  animation: popUp 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
}
.menu-item-additional {
  font-size: calc(0.3vw + 1em);
  color: #002429;
}
.menu-item-description {
  font-size: calc(0.5vw + 1em);
  color: #efebcf;
}
.menu-item-price {
  font-style: oblique;
  color: #002429;
  margin-bottom: 1rem;
}

.menu-jpg {
  font-size: calc(0.5vw + 1em);
  color: #cf4929;
}
.menu-jpg:hover {
  color: #efebcf;
  text-shadow: 0 0 19px #cf4929;
}

/* Styling for the hours and locations section  */
.hours-locations-heading {
  font-size: calc(4vw + 1em);
  font-family: "Lilita One";
  text-align: center;
  vertical-align: center;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #efebcf;
  background-color: #004851;
  border-top: 0.5rem #efebcf solid;
  border-bottom: 0.5rem #efebcf solid;
  border: 0.5rem #efebcf solid;
}
/* THIS SETS THE ORIENTATION OF THE MAPS AND THE INFO IN THE HOURS AND LCOATION SECTION */
.hours-location-maps-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

.hours-locations-map {
  border: 0.5rem #efebcf solid;
  margin-left: 0.5rem;
}
/* STYLING FOR JUST THE TEXT */
.hours-locations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sw-hour-location {
  font-size: calc(2.5vw + 1em);
  width: 65vw;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  border: 0.5rem #67b0b3 groove;
  background-color: #224344;
  color: #efebcf;
  margin-bottom: 2rem;
}
.sw-info-title {
  font-size: calc(3vw + 1em);
  letter-spacing: 0.2rem;
  color: #cf4929;
  margin-top: 2rem;
}
.sw-info-title:first-child {
  margin-top: 0;
}
.sw-info-text {
  font-size: calc(0.5vw + 1em);
  color: #efebcf;
}

/* Styling so that the address highlights */
.sw-info-address:hover {
  color: #224344;
  text-shadow: 0 0 19px #cf4929;
}
/* ABOUT US SECTION STYLING */
.about-us-img {
  border: 0.5rem #67b0b3 groove;
}
.about-us-img-container {
  position: relative;
}
.about-us-heading {
  font-size: calc(5vw + 1em);
  letter-spacing: 0.5rem;
  color: #efebcf;
  background-color: #004851;
  border-top: 0.5rem #efebcf solid;
  border-bottom: 0.5rem #efebcf solid;
  border: 0.5rem #efebcf solid;
}

/* Stylinf for formatting of the bottom half of the about us section */

.about-us-description-img {
  margin-left: 1rem;
}

.about-us-description-text {
  font-size: calc(0.1vw + 1em);
  font-family: "Montserrat";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #efebcf;
}

/* CONTACT US SECTION  */

.contact-us-banner {
  position: relative;
}

.contact-us-banner-img {
  border-top: 0.5rem #cf4929 solid;
  border-bottom: 0.5rem #cf4929 solid;
}

.contact-us-banner-text {
  font-size: calc(5vw + 1em);
  letter-spacing: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem;
  color: #cf4929;

  border-radius: 5rem;
}

.contact-us-description-text {
  font-size: calc(0.6vw + 1em);
  font-weight: 700;
  font-family: "Montserrat";

  padding: 3rem;
  color: #cf4929;

  border-radius: 5rem;
}

.contact-us-description {
  font-size: calc(1vw + 1em);
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: #efebcf;
}

#contact-us-submit {
  font-size: calc(2vw + 1em);
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
  padding: 1rem;
  color: #efebcf;
  background-color: #004851;
  border: 0.6rem #cf4929 solid;
}
#contact-us-submit:hover {
  color: #cf4929;
}

/* Handle section */
.handle-section {
  font-family: "Press Start 2P";
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efebcf;
  gap: 0.3rem;
  padding: 0.4rem;
  border: 0.1rem #cf4929 solid;
}
.handle-section:hover {
  background-color: #cf4929;
  border: 0.1rem #497f81 solid;
}
.handle-1 {
  animation: blink 1s infinite;
}
.handle-2 {
  animation: blink 1s infinite;
}

/* CSS FOR STICKY BAR NEAR THE BOTTOM LEFT  */

.sticky-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  position: fixed;

  top: 85%;
  left: 0%;
  width: 50px;
  height: 100vh;
  z-index: 9999;
}

.sticky-bar-icon {
  fill: #cf4929;
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: #cf4929;
}
