/* STYLING FOR TEXT IN ABOUT US SECTION */
@media (min-width: 1400px) {
  .about-us-description-text {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (min-width: 1100px) {
  .about-us-description-text {
    font-size: calc(0.5vw + 1em);
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/* STLYING FOR MOBILE SCREENS */
@media (max-width: 800px) {
  .quick-nav {
    font-family: "Secular One";
    font-weight: 500;
    font-size: calc(3vw + 1em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 70vh;
    width: 100vw;
    color: #efebcf;
    text-align: center;
    background-color: #004851;
    padding: 5px;
    z-index: 9999;
  }
  .quick-nav-text {
    width: 100vw;
  }
  .open-nav {
    display: block;
  }
  .close-nav {
    display: none;
  }

  /* Make Logo Smaller for Mobile */

  .top-banner-logo {
    width: 15vw;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(102, 176, 179, 0.4);
    border-radius: 5rem;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5rem;
    color: #224344;
    padding: 1rem;
    width: 70vw;
    height: auto;
    text-align: center;
  }

  .best-seller-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: top;
    justify-items: center;
  }
  .best-sellers-images {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }
  /* THIS IS THE STYLING FOR THE ACTUAL IMAGES WITHIN THE GROUP */
  .best-seller-img {
    height: auto;
    width: 40vw;
    border-radius: 1rem;
  }

  /* MENU SECTION */

  .menu-item-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    align-self: top;
    margin-bottom: 1.5rem;
    /* gap: 1.5vw; */
    cursor: pointer;
  }
  .menu-item-type {
    font-size: calc(1vw + 1em);
  }

  .menu-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
  }

  /* HOUR AND LOCATION SECTION */
  .hours-location-maps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sw-info-title:first-child {
    margin-top: 1rem;
  }

  /* About Us section */
  .about-us-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .hours-locations-map {
    height: 100vw;
    width: 100vw;
  }

  .menu-item-type {
    font-size: calc(0.05vw + 1em);
  }
}

@media (max-width: 400px) {
  .top-banner-img-bold-text {
    font-family: "Lilita One";
    font-size: calc(0.5vw + 1em);
  }
  /* Styling for top image that states sustainably sourced seafood */
  .top-banner-img-ss-text {
    font-family: "Secular One";
    font-size: calc(0.3vw + 1em);
  }

  .top-banner {
    font-size: calc(0.1vw + 1em);
  }

  .best-sellers-item-description {
    color: #262512;
    font-weight: 500;
    font-size: calc(0.01vw + 1em);
  }

  /* MENU SECTION */

  .menu-heading {
    font-size: calc(10vw + 1em);
  }

  .menu-item-flex {
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  /* HOURS AND LOCATION */
  .hours-locations-heading {
    font-size: calc(10vw + 1em);
  }

  /* ABOUT US SECTION */

  .about-us-heading {
    font-size: calc(10vw + 1em);
  }

  /* Contact Us Section */
  .contact-us-description-text {
    font-size: calc(0.1vw + 1em);
    font-weight: 600;
  }

  #contact-us-submit {
    font-size: calc(0.1vw + 1em);
    padding: 0.5rem;
    border: 0.3rem #cf4929 solid;
  }
}
